In [8]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import neighbors
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [3]:
df = pd.read_excel('car-man-predict.xlsx')
df

    Age  EstimatedSalary  Purchased
0    19            19000          0
1    35            20000          0
2    26            43000          0
3    27            57000          0
4    19            76000          0
5    27            58000          0
6    27            84000          0
7    32           150000          1
8    25            33000          0
9    35            65000          0
10   26            80000          0
11   26            52000          0
12   20            86000          0
13   32            18000          0
14   18            82000          0
15   29            80000          0
16   47            25000          1
17   45            26000          1
18   46            28000          1
19   48            29000          1
20   45            22000          1
21   47            49000          1

In [4]:
features = df[["Age", "EstimatedSalary"]]
features

    Age  EstimatedSalary
0    19            19000
1    35            20000
2    26            43000
3    27            57000
4    19            76000
5    27            58000
6    27            84000
7    32           150000
8    25            33000
9    35            65000
10   26            80000
11   26            52000
12   20            86000
13   32            18000
14   18            82000
15   29            80000
16   47            25000
17   45            26000
18   46            28000
19   48            29000
20   45            22000
21   47            49000

In [6]:
target = df["Purchased"]
target

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    1
17    1
18    1
19    1
20    1
21    1
Name: Purchased, dtype: int64

In [9]:
train_features, test_features, train_target, test_target = train_test_split(features, target, test_size = 2)

In [10]:
print("Training features size: ", train_features.shape)
print("Training target size: ", train_target.shape)

Training features size:  (20, 2)
Training target size:  (20,)

In [11]:
print("Testing features size: ", test_features.shape)
print("Testing target size: ", test_target.shape)

Testing features size:  (2, 2)
Testing target size:  (2,)

In [ ]:
model = neighbors.KNeighborsClassifier(n_neighbors = 3)