In [3]:
import numpy as np
import matplotlib.pyplot as plt
import random
import pandas as pd

In [5]:
# Read excel file
df = pd.read_excel('advertising.xlsx')
df

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
# Create a list of the independent variables
X = df[['TV', 'Radio', 'Newspaper']]
X

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4
5    8.7   48.9       75.0
6   57.5   32.8       23.5
7  120.2   19.6       11.6
8    8.6    2.1        1.0
9  199.8    2.6       21.2

In [7]:
# Create a list of the dependent variables
y = df['Sales']
y

0    22.1
1    10.4
2    12.0
3    16.5
4    17.9
5     7.2
6    11.8
7    13.2
8     4.8
9    15.6
Name: Sales, dtype: float64