In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
source_file = 'Economic_S4.csv'
df = pd.read_csv(source_file)
df

    Year  Inflation  Lending_Interest_Rate  Unemployment     GDP     NPL
0   2006   0.074182               0.111763        0.0464  0.0698  0.0188
1   2007   0.083444               0.111812        0.0465  0.0813  0.0050
2   2008   0.231154               0.157836        0.0464  0.0466  0.0589
3   2009   0.067178               0.100691        0.0443  0.0512  0.0403
4   2010   0.092075               0.131353        0.0360  0.0642  0.0238
5   2011   0.186777               0.169538        0.0325  0.0624  0.0240
6   2012   0.090947               0.134717        0.0396  0.0325  0.0750
7   2013   0.065927               0.103742        0.0362  0.0542  0.0384
8   2014   0.040846               0.086656        0.0385  0.0598  0.0323
9   2015   0.006312               0.071175        0.0326  0.0668  0.0233
10  2016   0.026682               0.069694        0.0353  0.0621  0.0279
11  2017   0.035203               0.070675        0.0311  0.0681  0.0202
12  2018   0.035396               0.073719        0.0319  0.0708  0.0137
13  2019   0.027958               0.077075        0.0309  0.0730  0.0140
14  2020        NaN                    NaN           NaN  0.0263     NaN
15  2021        NaN                    NaN           NaN  0.0336     NaN
16  2022        NaN                    NaN           NaN  0.0396     NaN
17  2023        NaN                    NaN           NaN  0.0586     NaN

# Xử lý dữ liệu
Xóa các dòng có dữ liệu NaN

In [13]:
# Remove rows with NaN values from Pandas dataframe
# https://www.geeksforgeeks.org/how-to-drop-rows-with-nan-values-in-pandas-dataframe/
df = df.dropna()
df

    Year  Inflation  Lending_Interest_Rate  Unemployment     GDP     NPL
0   2006   0.074182               0.111763        0.0464  0.0698  0.0188
1   2007   0.083444               0.111812        0.0465  0.0813  0.0050
2   2008   0.231154               0.157836        0.0464  0.0466  0.0589
3   2009   0.067178               0.100691        0.0443  0.0512  0.0403
4   2010   0.092075               0.131353        0.0360  0.0642  0.0238
5   2011   0.186777               0.169538        0.0325  0.0624  0.0240
6   2012   0.090947               0.134717        0.0396  0.0325  0.0750
7   2013   0.065927               0.103742        0.0362  0.0542  0.0384
8   2014   0.040846               0.086656        0.0385  0.0598  0.0323
9   2015   0.006312               0.071175        0.0326  0.0668  0.0233
10  2016   0.026682               0.069694        0.0353  0.0621  0.0279
11  2017   0.035203               0.070675        0.0311  0.0681  0.0202
12  2018   0.035396               0.073719        0.0319  0.0708  0.0137
13  2019   0.027958               0.077075        0.0309  0.0730  0.0140

# VẼ BIỂU ĐỒ