# Import libraries

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load data

In [13]:
data = pd.read_csv('suv_data.csv')

In [14]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

# Validate data

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [16]:
data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [17]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

# Clean data

In [18]:
data.drop('User ID', axis=1, inplace=True)

In [19]:
data.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

## Entire data

In [20]:
# use Waterfall chart to show the data
plt.figure(figsize=(10, 10))
plt.bar(data['Y'].value_counts().index, data['Y'].value_counts(), width=0.5)

KeyError: 'Y'

In [ ]:
x=data[['Age','EstimatedSalary']]
y=data[['Purchased']]

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x.Age,x.EstimatedSalary,c=y.values)

## Chart Purchased count

In [ ]:
sns.countplot(x='Purchased', hue='Gender', data=data)

## 3. Property 'weather' and 'Y'

In [ ]:
sns.countplot(x='weather', data=data, hue='Y')

## 4. Property 'temperature' and 'Y'

In [ ]:
sns.countplot(x='temperature', data=data, hue='Y')

In [ ]:
# draw Pie chart
plt.figure(figsize=(10, 10))
plt.pie(data['temperature'].value_counts(), labels=data['temperature'].value_counts().index, autopct='%1.1f%%')
plt.show()