# Import libraries

In [14]:
import pandas as pd
import numpy as np

# Load data

In [15]:
df = pd.read_csv('in-vehicle-coupon-recommendation.csv')
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

# Build a SVM model

In [16]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## Preprocessing

In [17]:
df = df.drop(['car'], axis=1)

In [18]:
df = df.dropna()

In [19]:
df = pd.get_dummies(df)
df.head()

,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,destination_Home,destination_No Urgent Place,...,RestaurantLessThan20_1~3,RestaurantLessThan20_4~8,RestaurantLessThan20_gt8,RestaurantLessThan20_less1,RestaurantLessThan20_never,Restaurant20To50_1~3,Restaurant20To50_4~8,Restaurant20To50_gt8,Restaurant20To50_less1,Restaurant20To50_never
22,55,0,1,0,0,0,1,1,0,1,...,0,1,0,0,0,0,0,0,1,0
23,80,0,1,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0
24,80,0,1,0,0,0,1,1,0,1,...,0,1,0,0,0,0,0,0,1,0
25,80,0,1,1,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0
26,80,0,1,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0

In [20]:
X = df.drop(['Y'], axis=1)

In [21]:
y = df['Y']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [23]:
# Function to test each column
def test_column(col):
    model = SVC(kernel='linear', C = 1e5)
    model.fit(X_train[col].to_frame(), y_train)
    y_pred = model.predict(X_test[col].to_frame())
    return accuracy_score(y_test, y_pred)

In [24]:
def test_columns(cols):
    model = SVC(kernel='linear', C = 1e5)
    model.fit(X_train[cols], y_train)
    y_pred = model.predict(X_test[cols])
    return accuracy_score(y_test, y_pred)

In [25]:
def test_all():
    model = SVC(kernel='linear', C = 1e5)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return accuracy_score(y_test, y_pred)

In [26]:
# Test each column
# for column in X_train.columns:
#     print(column, test_column(column))

In [27]:
# Test columns in pairs
# for col1 in X_train.columns:
#     for col2 in X_train.columns:
#         if col1 < col2:
#             print(col1, col2, test_columns([col1, col2]))

In [ ]:
# Accuracy of all columns
test_all()