# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Load data

In [2]:
df = pd.read_table('SouthGermanCredit.asc', sep=' ')
df.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

# Build a SVM model

In [3]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## Preprocessing

In [4]:
targetColName = 'kredit'

In [5]:
df = df.dropna()

In [6]:
X = df.drop([targetColName], axis=1)

In [7]:
y = df[targetColName]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [9]:
# Function to test each column
def test_column(col):
    model = SVC(kernel='linear', C = 1e5)
    model.fit(X_train[col].to_frame(), y_train)
    y_pred = model.predict(X_test[col].to_frame())
    return accuracy_score(y_test, y_pred)

In [10]:
def test_columns(cols):
    model = SVC(kernel='linear', C = 1e5)
    model.fit(X_train[cols], y_train)
    y_pred = model.predict(X_test[cols])
    return accuracy_score(y_test, y_pred)

In [11]:
def test_all():
    model = SVC(kernel='linear', C = 1e5)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return accuracy_score(y_test, y_pred)

In [12]:
# Test each column
# for column in X_train.columns:
#     print(column, test_column(column))

In [13]:
# Test columns in pairs
# for col1 in X_train.columns:
#     for col2 in X_train.columns:
#         if col1 < col2:
#             print(col1, col2, test_columns([col1, col2]))

In [14]:
# Accuracy of all columns
test_all()

0.785