# Import libraries

In [6]:
import pandas as pd
import numpy as np

# Load data

In [7]:
df = pd.read_table('SouthGermanCredit.asc', sep=' ')
df.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

# Build a Logistic Regression model

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## Preprocessing

In [9]:
targetColName = 'kredit'

In [10]:
df = df.dropna()

In [11]:
X = df.drop([targetColName], axis=1)

In [12]:
y = df[targetColName]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [14]:
# Function to test each column
def test_column(col):
    model = LogisticRegression()
    model.fit(X_train[col].to_frame(), y_train)
    y_pred = model.predict(X_test[col].to_frame())
    return accuracy_score(y_test, y_pred)

In [15]:
def test_columns(cols):
    model = LogisticRegression()
    model.fit(X_train[cols], y_train)
    y_pred = model.predict(X_test[cols])
    return accuracy_score(y_test, y_pred)

In [16]:
def test_all():
    model = LogisticRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return accuracy_score(y_test, y_pred)

In [17]:
# Test each column
# for column in X_train.columns:
#     print(column, test_column(column))

In [18]:
# Test columns in pairs
# for col1 in X_train.columns:
#     for col2 in X_train.columns:
#         if col1 < col2:
#             print(col1, col2, test_columns([col1, col2]))

In [19]:
# Accuracy of all columns
test_all()

C:\Users\taqua\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.75