In [4]:
import pandas as pd

In [6]:
data = pd.read_excel("../data/sample-x-y-for-learn-knn-guest-1D-array.xlsx")
data

     X     Y  Distance  Rank  Nearest Neighbor Value
0  1.0  23.0       5.5   5.0                     NaN
1  1.2  17.0       5.3   4.0                     NaN
2  3.2  12.0       3.3   3.0                     NaN
3  4.0  27.0       2.5   2.0                    27.0
4  5.1   8.0       1.4   1.0                     8.0
5  6.5  17.5       NaN   NaN                     NaN

In [ ]:
# Xác định láng giềng gần nhất k
k = 3